/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

span.noway{
   padding: 2px 0px;
   border: 1px solid rgba(0, 128, 128, 0.23);
   cursor: pointer;
   display: inline-block;
   width: 100%;
   -webkit-transition: all 0.7s ease;
   -moz-transition: all 0.7s ease;
   -ms-transition: all 0.7s ease;
   -o-transition: all 0.7s ease;
   transition: all 0.7s ease;
}
span#host_id_current{
   cursor: pointer; 
}
.ui-dialog
{
    /* The image is only the gradient and is 1px width */
    box-shadow: 0px 0px 80px #303030;
}

span.noway:hover{
   box-shadow: 0px 0px 50px 0px #b4b9be;
   border: 1px dashed #008046;
}
 
.settings-class-s1 {
   width: 100%;
}

.settings-class-s1 > tbody > tr:nth-child(1) {
   text-align: center;
   color: white;
   background-color: teal;
}

.settings-class-s1 > tbody > tr td {
   font-size: 1.1em;
   font-weight: 700;
   text-align: center;
}

.settings-class-s1 > tbody tr td input[type="text"] {
   width: 100%; 
}


#check_client[disabled] {
   color: white !important;
   background-color: #75b975 !important;
}

#rem_client[disabled] {
   color: white !important; 
   background-color: #da8181 !important;
}

#rem_client {
   color: white !important;
   background-color: #b30000 !important;
}

.button-error {
   color: white !important;
   background-color: #ff8f00 !important;
}


input[name^="factura_s_cliente_t"] {
    background-image: -webkit-linear-gradient(hsla(0,0%,0%,.1), hsla(0,0%,100%,.1)),
                      -webkit-linear-gradient(left, #c30d0d 50%, #008080 50%);
    background-size: 100% 100%, 200% 100%;
    background-position: 0 0, 15px 0;
    border-radius: 25px;
    /*box-shadow: inset 0 1px 4px hsla(0,0%,0%,.5),*/
    /*            inset 0 0 10px hsla(0,0%,0%,.5),*/
    /*            0 0 0 1px hsla(0,0%,0%,.1),*/
    /*            0 -1px 2px 2px hsla(0,0%,0%,.25),*/
    /*            0 2px 2px 2px hsla(0,0%,100%,.75);*/
    cursor: pointer;
    height: 18px;
    left: 50%;
    margin: 1px -37px;
    padding-right: 25px;
    /*position: absolute;*/
    top: 40%;
    width: 45px;
    -webkit-appearance: none;
    -webkit-transition: .25s;
}
input[name^="factura_s_cliente_t"]:after {
    background-color: #eee;
    background-image: -webkit-linear-gradient(hsla(0,0%,100%,.1), hsla(0,0%,0%,.1));
    border-radius: 25px;
    box-shadow: inset 0 1px 1px 1px hsla(0,0%,100%,1),
                inset 0 -1px 1px 1px hsla(0,0%,0%,.25),
                0 1px 3px 1px hsla(0,0%,0%,.5),
                0 0 2px hsla(0,0%,0%,.25);
    content: '';
    display: block;
    height: 16px;
    left: 0;
    position: relative;
    top: 0;
    width: 25px;
}
input[name^="factura_s_cliente_t"]:checked {
    background-position: 0 0, 35px 0;
    padding-left: 18px !important;
    padding-right: 0 !important;
}
