/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
 
.settings-class-s1 {
   width: 100%;
}

.settings-class-s1 > tbody > tr:nth-child(1) {
   text-align: center;
   color: white;
   background-color: teal;
}

.settings-class-s1 > tbody > tr td {
   font-size: 1.1em;
   font-weight: 700;
}

.settings-class-s1 > tbody tr td input {
   width: 100%; 
}


#check_server[disabled] {
   color: white !important;
   background-color: #75b975 !important;
}

.button-error {
   color: white !important;
   background-color: #d20d0d !important;
}